* {
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(150deg, rgb(48, 66, 128), rgb(103, 151, 233) );
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

header {
    font-size: 3vmin;
    text-align: center;
    font-family: 'Instrument Sans', sans-serif;
    margin: 0;
}

header > h1 {
    color: rgb(24, 32, 48);
    margin: 0;
}

.difficulty {
    margin-bottom: 2vmin;
    background-color: rgb(55, 67, 91);
    color: rgb(145, 185, 255);
    font-family: 'Instrument Sans', sans-serif;
    font-size: 2vmin;
}

.difficulty:hover {
    background-color: rgb(145, 185, 255);
    color: rgb(55, 67, 91);
}

#board {
    margin: 0;
    display: grid;
    /* height: 100vmin; */
    /* width: 100vmin; */
    grid-template-columns: repeat(16, 5vmin);
    grid-template-columns: repeat(16, 5vmin);
    background-image: url(https://wallpapercave.com/wp/5jtNsi1.jpg);
}

#board > div {
    height: 5vmin;
    width: 5vmin;
    border: 0.5vmin solid rgb(55, 67, 91);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Russo One', sans-serif;
    background-color: rgba(114, 114, 114, 0.5);
    box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255,255,255,0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5);
}
 
div > img {
    height: 90%;
    width: 90%;
}

.flag {
    height: 90%;
    width: 90%;
}

#reset {
    margin-top: 0.7vmin;
    background-color: rgb(55, 67, 91);
    color: rgb(145, 185, 255);
    font-family: 'Instrument Sans', sans-serif;
    font-size: 2vmin;
}

#reset:hover {
    background-color: rgb(145, 185, 255);
    color: rgb(55, 67, 91);
}

#box {
    position: absolute;
    top: 45vmin;
    z-index: -1;
    height: 30vmin;
    width: 50vmin;
}

#msgBox {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(114, 114, 114);
    border: 0.7vmin solid rgb(102, 102, 102);
    border-radius: 11%;
}

#finalMsg {
    text-align: center;
    font-size: 3vmin;
}

#water {
    position: absolute;
    z-index: 0;
}