* {
    box-sizing: border-box;
}
body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

header {
    text-align: center;
}

#board {
    margin: 10vmin;
    display: grid;
    /* height: 100vmin; */
    /* width: 100vmin; */
    grid-template-columns: repeat(16, 5vmin);
    grid-template-columns: repeat(16, 5vmin);
}

#board > div {
    height: 5vmin;
    width: 5vmin;
    border: 0.5vmin solid rgb(102, 102, 102);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Russo One', sans-serif;
    background-color: rgb(114, 114, 114);
    box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255,255,255,0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5);
    
}
 
div > img {
    height: 90%;
    width: 90%;
}
